


.gif-img-container{
    display: flex;
    flex-flow: column wrap;
}


.img-gif{
    height: 330px;
    align-self: center;
    width: 90%;
    margin: 10px;
    border-radius: 15px;
}



/* media query */

@media (min-width: 768px){
    .img-gif{
        width: 350px;
    }
}


@media (min-width: 1200px){
    
}